@import "../../../node_modules/normalize.css/normalize.css";

body {
}

div, p {
  margin: 0;
  padding: 0;
}
.App {
  .topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    background: #a0a0a0;
    img {
      width: 1148px;
      height: 300px;
    }
  }
  .nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      .nav-item {

        list-style: none;
        span {

        }
      }
    }
  }
  .main {

  }
  .more {

  }
  .footer {

  }
}

